:root {
	--main-bg: #e6e6e6;
	--design-bg: #E6563B;
	--develop-bg: #EB9D3A;
	--support-bg: #7CB06C;
	--host-bg: #00ABA9;
}


* {
	box-sizing: border-box;
}

main img {
	border: 5px solid lightgrey;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
}

body {
	background-color: var(--main-bg);
}

nav {
	background-color: var(--main-bg);
	font-family: 'Abel', sans-serif;
}

#logo-img {
	width: 105px;
	height: 105px;
}


.design {
	background-color: var(--design-bg);
}

.develop {
	background-color: var(--develop-bg);
}

.support {
	background-color: var(--support-bg);
}

.host {
	background-color: var(--host-bg);
}

.divider {

	width: 99%;
}


.icon {
	font-family: 'Anton', sans-serif;

	align-items: center;
	justify-content: center;
	border-radius: 50%;

}

.icon-lg {
	display: flex;
	color: white;
	border: 3px solid white;
	width: 90px;
	height: 90px;
}

.icon-sm {
	font-size: .75em;
	display: inline-flex;
	width: 18px;
	height: 18px;
}

.aside-img {
	height: 90px;
	width: 90px;;
}